.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem 0;
  width: 100dvw;

  background-color: #73293d;

  img {
    height: 6rem;
    width: 6rem;

    background-color: #f7f7f7;
    border-radius: 50%;
  }

  #navbar {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 8rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;

      li {
        list-style-type: none;
        color: #f7f7f7;
      }
    }

    #internal-links {
      font-size: 1.4rem;
      font-weight: 600;
      gap: 6rem;

      li {
        transition: 0.2s;
      }

      li:hover {
        color: #f2d5a0;
        transition: 0.2s;
      }
    }

    #internal-links:hover {
      cursor: pointer;
    }

    #external-links {
      font-size: 3.4rem;
      gap: 2rem;

      li:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 858px) {
  .header {
    padding: 1.5rem 0;

    img {
      height: 8rem;
      width: 8rem;
    }

    #navbar {
      display: block;
      font-size: 4rem;
      color: #f7f7f7;
      background-color: transparent;
    }

    nav {
      position: fixed;

      flex-direction: column;
      justify-content: space-evenly;
      gap: 0rem;

      height: 100dvh;
      width: 100%;
      background-color: #73293d;
      top: 0;
      right: -100%;
      transition: all 0.5s;
      opacity: 0.8;

      .xmark {
        position: absolute;

        top: 0;
        right: 0;
        margin: 2.5rem 6.5rem 0 0;
      }

      ul {
        width: 100%;
        text-align: center;
      }

      #internal-links {
        flex-direction: column;
        gap: 4rem;

        font-size: 2.4rem;
        font-weight: 500;

        li {
          color: #f2d5a0;
        }

        li:hover {
          color: #000000b4;
        }
      }

      #internal-links:hover {
        cursor: none;
      }

      #external-links {
        font-size: 4.2rem;

        li:hover {
          color: #f2d5a0;
        }
      }
    }

    nav.active {
      right: 0;
      opacity: 1;
    }
  }
}
