<header class="header">
  <img
    src="../../../assets/logo-popeye.png"
    alt="logo popeye açaí e vitaminas"
    id="logo"
  />
  <aside id="navbar" (click)="toglleNavbar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </aside>
  <nav [ngClass]="{ active: openNavbar }">
    <aside id="navbar" class="xmark" (click)="toglleNavbar()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </aside>
    <ul id="internal-links">
      <li>Home</li>
      <li>Peça aqui</li>
      <li>Produtos</li>
      <li>Contato</li>
    </ul>
    <ul id="external-links">
      <li>
        <a [href]="linkWhatsapp" target="_blank">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </li>
      <li>
        <a [href]="linkInstagram" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
      <li>
        <a [href]="linkFacebook" target="_blank">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>
